@page "/"

<PageTitle>Home</PageTitle>
<div class="row">
    <div class="col-3">
        <Card>
            <img class="rounded-top" src="https://placehold.co/600x400" alt="placeholder" />
            <CardBody>
                <CardTitle>Card title</CardTitle>
                <CardSubTitle Class="mb-2 text-muted">Card subtitle</CardSubTitle>
                <CardText>Some quick example text to build on the card title and make up the bulk of the card's content.</CardText>
                <Button Color="ButtonColor.Primary" To="#" Type="ButtonType.Link">Go somewhere</Button>
            </CardBody>
        </Card>
    </div>
    <div class="col-3">
        <Card>
            <img class="rounded-top" src="https://placehold.co/600x400" alt="placeholder" />
            <CardBody>
                <CardTitle>Card title</CardTitle>
                <CardSubTitle Class="mb-2 text-muted">Card subtitle</CardSubTitle>
                <CardText>Some quick example text to build on the card title and make up the bulk of the card's content.</CardText>
                <Button Color="ButtonColor.Primary" To="#" Type="ButtonType.Link">Go somewhere</Button>
            </CardBody>
        </Card>
    </div>
    <div class="col-3">
        <Card>
            <img class="rounded-top" src="https://placehold.co/600x400" alt="placeholder" />
            <CardBody>
                <CardTitle>Card title</CardTitle>
                <CardSubTitle Class="mb-2 text-muted">Card subtitle</CardSubTitle>
                <CardText>Some quick example text to build on the card title and make up the bulk of the card's content.</CardText>
                <Button Color="ButtonColor.Primary" To="#" Type="ButtonType.Link">Go somewhere</Button>
            </CardBody>
        </Card>
    </div>
    <div class="col-3">
        <Card>
            <img class="rounded-top" src="https://placehold.co/600x400" alt="placeholder" />
            <CardBody>
                <CardTitle>Card title</CardTitle>
                <CardSubTitle Class="mb-2 text-muted">Card subtitle</CardSubTitle>
                <CardText>Some quick example text to build on the card title and make up the bulk of the card's content.</CardText>
                <Button Color="ButtonColor.Primary" To="#" Type="ButtonType.Link">Go somewhere</Button>
            </CardBody>
        </Card>
    </div>
</div>


